@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";

@layer base {
    * {
        font-family: "Special Gothic Expanded One", sans-serif;
    }

    ::selection {
        background: transparent;
    }
}

@layer utilities {
    .link {
        @apply relative inline-block text-white text-base transition-all duration-300;
    }

    .link::before {
        content: '';
        @apply absolute left-0 top-1/2 h-[2px] w-0 bg-white transition-all duration-300;
    }

    .link:hover::before {
        @apply w-full;
    }

    .social-link {
        @apply transition duration-300 ease-in-out hover:-translate-y-1;
    }
}